html {
  position: relative;
  height: 100vh;
  width: 100vw;
}

/*body*/

body{
	padding: 0;
	color: rgba(0, 0, 0, 0.6); /*grey*/
	font-family: 'IBM Plex Mono', Monospace; 
	font-weight: 100;
	font-size: max(2vh, 14pt);
	cursor: crosshair;
	height: 99vh;
	width: 98vw;
	
	}

:lang(zh-Hans) {
	font-family: "Noto Sans", sans-serif; /* Simplified Chinese fonts */
	font-weight: 400;
}

/*main content + styling*/
.contentbody{
	position: fixed;
  	height: 94vh;
	width: 90vw;
	padding: 4vw;
	overflow: scroll;
	/*background-color: red;*/
	}

.bold, h1{
	color: rgba(0, 0, 0, 0.7); /*darker grey cos of font-weight*/
	font-weight: 500;
	}
	
.italics{
	font-style: italic;
	color: rgba(0, 0, 0, 0.4); /*xiao grey*/
	}

.fine{
	font-size: max(1.2vh, 8pt);
	}
	
.paratext{
	font-size: max(1.5vh, 10pt);
	}
	
.label{
	position: fixed;
	}	
	
img{
	background-color: rgba(0, 0, 0, 0.3)
	}

hr {
	border: none;
	text-align: left;
	}

hr::before { /*spacer*/
	content: "/////";
	font-size: max(1.2vh, 8pt);
	color: rgba(0, 0, 0, 0.6); /*grey*/
}

/*gallery/photos*/
.gallery{
	/*background: blue;*/
	}

.gallery img{
	display: block;
	margin: auto;
	background: white;
	width: 50vw;
	max-height: 80vh;
	object-fit: contain;
	}
	
	/*broken images*/
img:not([src]), img::before {
	background-color: #f0f0f0; /* Light grey background */
	display: block;
	margin-bottom: 1vh;
	padding: 2vw;
	width: 100%;
	}

.caption {
	display: block;
	margin: auto;
	font-size: max(1.2vh, 8pt);
	text-align: center;
	}

/*worklist stuff*/
.thumb{
	height: max(20vh, 150pt);
	width: max(20vh, 150pt);
	}
	
.worklist{
	list-style-type: none;
	width: 30vw;
	text-align: center;
	margin: auto;
	}

/*links*/
a{
	color: rgba(0, 0, 0, 0.8); /*dark grey*/
	text-decoration: underline;
	text-decoration-color: rgba(0, 0, 0, 0.3); /*light grey*/
	transition: all 0.8s ease;
	}

a:hover {
	opacity: 0.3;
	cursor: hand;
	transition: all 0.8s ease;
	}
	
/*nav bar*/
.navbar{
	position: fixed;
	width: 100vw;
	height: 5vh;
	padding: 1.5vh;
	margin: 0;
	text-align: center;
	list-style-type: none;
	z-index: 1;
	background-color: white;
	color: rgba(0, 0, 0, 0.3); /*dark grey cos of font-weight*/
	font-size: max(2vh, 14pt);
	font-weight: 500;
	}
	
.namespot{
	display: inline;
	width: 64.5vw;
	padding:0;
	margin: 0;
	float: center;
	text-align: center;
	font-size: 1vh;
	}

.navspot{
	display: inline;
	width: 10vw;
	padding:4vh;
	margin: 0;
	float: center;
	text-decoration: underline;
	text-decoration-style: dotted;
	}
			
/*footer*/
footer {
	position: fixed;
	width: 100vw;
	height: 8vh;
	padding: 0.5vh;
	bottom: 0;
	right: 0;
	min-height: 15pt;
	text-align: center;
	font-size: 10pt;
	}
	
/*scrollbar*/
::-webkit-scrollbar { /* width */
	width: 1vw;
	max-width: 5px;
	height: 2vh;
	}

::-webkit-scrollbar-track { /* Track */
	background: white;
	}
 
::-webkit-scrollbar-thumb { /* Handle */
	background: rgba(0, 0, 0, 0.08);/*light grey*/
	}

::-webkit-scrollbar-thumb:hover { /* Handle on hover */
	background: rgba(0, 0, 0, 0.8); /*dark grey*/
	}
	
/* Use a media query to add a breakpoint at 480px: */
@media screen and (max-width: 480px) {

.navbar{
	height: 3vh;
	font-size: 8pt;
	}
	
.navspot{
	padding: 1vw;
	}
	
#contact{
	font-size: max(1.4vh, 10pt);	
	}
		
.worklist{
	padding: 0.3vw;
	width: 90vw;
	}
	
.bold, h1{
	font-size: 12pt;
	}
	
.label{
	background: white;
	width: 100%;
	height: 2vh;
	}
	
.gallery img{
	padding: 0;
	width: 90vw;
	}
	
iframe, video{
	width: 90vw;
	}
